body {
    background-color: #212529;
    animation: fadeInFromNone 500ms ease-in-out;
}

.bg-container {
    background-color: #212529
}

.bg-progress {
    background-color: violet;
}

.carousel-caption1 {
    top: 80%;
}

.carousel-caption2 {
    top: 85%;
}

.footerbottom {
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
}

.max-width {
    max-width: 2100px;
}

.text-none {
    text-decoration: none;
    color: white;
}

.icon-row i {
    border-radius: 4px;
    margin: 0px 20px;
    padding: 20px 30px;
    font-size:48px;
    color:white
}

.cursor {
    cursor: pointer;
}

@keyframes fadeInFromNone { 
    0% {
        display: none;
        opacity: 0;
    }
    1% {
        display: block;
        opacity: 0;
    }
}

.card:hover{
    transform: scale(1.10);
    box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
}