body {
    background-color: #212529
}

.bg-container {
    background-color: #212529
}

.bg-progress {
    background-color: violet;
}

.carousel-caption1 {
    top: 80%;
}

.carousel-caption2 {
    top: 85%;
}

.footerbottom {
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
}

.max-width {
    max-width: 2100px;
}